<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Clima</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img alt="ClimaFoto" src="assets/img/clima.png" />
    <ion-card-header>
      <ion-card-title>{{clima}}</ion-card-title>
      <ion-card-subtitle>Clima en RD</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      {{temp}}°C
    </ion-card-content>
  </ion-card>

</ion-content>